<div id="user-widget">
  <% if session[:uid] %>
    ようこそ <%= session[:name] %><br>
    <%= link_to 'Sign out', signout_path, id: 'sign_out' %>
  <% else %>
    <%= link_to 'Sign in with FaceBook', '/auth/facebook', id:'sign_in' %><br>
    <%= link_to 'Sign in with Google', '/auth/google_oauth2', id:'sign_in' %>
  <% end %>
</div>