<div id="user-widget">
  <%= form_for(@user, url: url_for(action: :create)) do |f| %>
    <div class="field">
      <%= f.label :provider %><br>
      <%= f.text_field :provider %>
    </div>
    <div class="field">
      <%= f.label :uid %><br>
      <%= f.text_field :uid %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %><br>
       <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.text_field :password %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>